{% extends "base.html" %}

{% block content %}

    <h3>Welcome to the Soul Envoy Tarot!</h3>

    <p>Lost in your journey?  Feeling stagnated in pursuing your soul's purpose?</p>
    <p>Why not tap into Spirit to help guide your Soul and higher self by using the tarot?</p>

    <p>Think about your question and choose one, three, five or seven cards:</p>

    <p><a href="/one-card">draw one random card</a>
    <br />(Use this for those one card draws to help answer your question)</p>

    <p><a href="/three-cards">draw three random cards</a>
    <br />(for three card layouts to answer direct your intentions)</p>

    <p><a href="/five-cards">draw five random cards</a>
    <br />(for fivee card layouts to answer direct your intentions)</p>

    <p><a href="/seven-cards">draw seven random cards</a>
    <br />(for seven card layouts utilized to answer or direct your intentions)</p>

    <p><a href="/all-cards">list all the cards</a></p>

	<hr />

    <p>This is a simple web application written in Python to draw one or more randomly selected cards from a dictionary (hash) of 72 Tarot card description and image references.</p>

    <p>The card images used are Arthur Waite's deck, by artist Pamela Colman Smith. <a href="https://en.wikipedia.org/wiki/Rider-Waite_tarot_deck">According to Wikipedia</a> they are out of copyright in the US now and will be in the UK in 2022.</p>

    <p><a href="https://github.com/jeremytarling/python-tarot">The source code to this app is here</a> - please feel free to fork or re-use, there are no license restrictions.</p> 

    <p><a href="https://twitter.com/jeremytarling">@jeremytarling</a></p>

{% endblock %}
